.icon {
  width: 1.5em;
  height: 1.5em;
  color: var(--clr-text);
}

.actionIcon {
  width: 1em;
  height: 1em;
}

.correctIcon {
  color: var(--clr-success);

  circle {
    fill: var(--clr-success-contrast);
  }
}

.partiallyCorrectIcon {
  color: var(--clr-warning);

  circle {
    fill: var(--clr-warning-contrast);
  }
}

.wrongIcon {
  color: var(--clr-error);

  circle {
    fill: var(--clr-error-contrast);
  }
}
