// The header component fills the whole viewport, so we had to
// play with the pointer-events property to make sure that the
// header doesn't block the content below it.

$padding-inline: 2rem;
$transition-time: 0.2s;
$menu-btn-size: 2rem;

// Header container
.header-container {
  display: block;
  position: fixed;
  inset: 0;
  z-index: 1000;
  isolation: isolate;
  pointer-events: none;
}

// Main header
.main-header {
  width: 100%;
  margin: 0 auto;
  background-color: var(--clr-background);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem $padding-inline;
  box-shadow: 0 0 0 0 rgba(10, 10, 10, 0);
  transition: box-shadow $transition-time ease-in-out;
  pointer-events: auto;

  @media (max-width: 700px) {
    padding-inline: 1rem;
  }
}

.header-container.scrolled {
  .main-header {
    box-shadow: 0 2px 4px 0 rgba(10, 10, 10, 0.2);
  }
}

// Menu button
.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: $menu-btn-size;
  height: $menu-btn-size;
  z-index: 100; // Is isolated in header-container
  color: var(--clr-text);
}

.header-container {
  &.opened {
    .menu-btn svg path {
      d: path("M3.75 6.75h16.5M3.75 12H12m-8.25 5.25h16.5");
    }

    &.separate-nav-layer {
      .menu-btn svg path {
        d: path("M6 18L18 6M6 6l12 12");
      }
    }
  }

  &.with-transition {
    svg path {
      transition: $transition-time;
    }
  }
}

// Home button
.home-btn {
  z-index: 1;
  font-weight: bold;
  text-decoration: none;
  color: var(--clr-primary);
}

// Right header
.right-header {
  z-index: 1;
  display: flex;
  align-items: center;
  margin-left: auto;
}

// Navigation container
.nav-container {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

// Menu overlay
.menu-overlay {
  background: transparent;
  pointer-events: auto;
}

.header-container {
  &.opened.separate-nav-layer {
    .menu-overlay {
      overflow: hidden;
      background: #333a;
      position: absolute;
      inset: 0;
      z-index: 98;
    }
  }

  &.with-transition {
    .menu-overlay {
      transition: background-color $transition-time ease-in-out;
    }
  }
}

// Navigation menu
nav {
  position: absolute;
  left: calc(var(--nav-menu-width, 100rem) * -1);
  margin: 0;
  padding: calc(var(--header-height, 3rem) + var(--content-top-padding)) 1rem
    1rem 0.2rem;
  top: 0;
  bottom: 0;
  font-size: var(--fnt-sz--1);
  background-color: transparent;
  width: min(80vw, 20rem);
  pointer-events: auto;
}

.header-container {
  &.opened {
    &.separate-nav-layer {
      nav {
        background-color: var(--clr-background);
        z-index: 99;
      }
    }

    nav {
      left: 0;
    }
  }

  &.with-transition {
    nav {
      transition: left $transition-time ease-in-out;
    }
  }
}
