:root {
  --content-top-padding: 1.5rem;
  --default-block-padding: 0.5em;
  --default-inline-padding: 0.8em;
  --default-top-margin: 1.2em;
}

.main-content {
  padding-top: var(--content-top-padding);
  width: min(100% - 2rem, 60ch);
  margin: 0 auto;
}

p:not(:first-child) {
  margin-top: 1.2em;
}
