:root {
  --content-top-padding: 1.5rem;
  --content-bottom-padding: 2rem;
  --default-block-padding: 0.5em;
  --default-inline-padding: 0.8em;
  --default-top-margin: 1.2em;
}

.main-content {
  padding-top: calc(var(--content-top-padding) + var(--header-height, 3rem));
  padding-bottom: var(--content-bottom-padding);
  width: min(100% - 2rem, 60ch);
  margin: 0 auto;

  &.is-splash {
    padding-top: 0;
    width: auto;
    min-height: 100vh;
  }

  * {
    scroll-margin-top: var(--header-height, 0);
  }
}

p,
ul,
ol {
  &:not(:first-child) {
    margin-top: 1.2em;
  }
}

ul ul {
  margin-bottom: 1.2em;
}

$link-icon-width: 0.8em;
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;

  a[aria-hidden="true"] {
    color: inherit;
    position: absolute;
    left: -$link-icon-width;
    width: $link-icon-width;
    display: none;
    opacity: 0.5;
  }

  &:hover {
    a[aria-hidden="true"] {
      display: inline;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

table {
  margin: 1em 0;
  min-width: 100%;
  border-spacing: 0;
  border-radius: 0.2em;
  border-collapse: separate;
  overflow: hidden;
  table-layout: fixed;
  border: 1px solid var(--clr-text);
  padding: 0;

  .compact-table & {
    min-width: auto;
  }

  .centered-table & {
    margin-inline: auto;
  }
}

thead {
  border-bottom: 1px solid var(--clr-primary);
  background-color: var(--clr-primary);
  color: var(--clr-primary-contrast);
}

tr {
  tbody &:hover {
    color: var(--clr-primary);
    background-color: var(--clr-primary-contrast);
  }

  .hljs tbody &:hover {
    color: inherit;
    background-color: inherit;
  }
}

td,
th {
  padding: 0.2em 0.5em;
}
