:root {
  --content-top-padding: 1.5rem;
  --default-block-padding: 0.5em;
  --default-inline-padding: 0.8em;
  --default-top-margin: 1.2em;
}

.main-content {
  padding-top: var(--content-top-padding);
  width: min(100% - 2rem, 60ch);
  margin: 0 auto;

  * {
    scroll-margin-top: var(--header-height, 0);
  }
}

p:not(:first-child) {
  margin-top: 1.2em;
}

$link-icon-width: 0.8em;
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;

  a[aria-hidden="true"] {
    color: inherit;
    position: absolute;
    left: -$link-icon-width;
    width: $link-icon-width;
    display: none;
    opacity: 0.5;
  }

  &:hover {
    a[aria-hidden="true"] {
      display: inline;
    }
  }
}
