$block-padding: 0.2em;
$inline-padding: 0.6em;
$border-radius: 0.2em;

.button {
  --btn-background-color: var(--clr-primary);
  --btn-background-hover-color: var(--clr-primary-hover);
  --btn-text-color: var(--clr-primary-contrast);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  position: relative;

  text-decoration: none;
  font-weight: normal;

  padding: $block-padding $inline-padding;
  border-radius: $border-radius;
  border: none;

  background-color: var(--btn-background-color);
  color: var(--btn-text-color);

  transition: background-color 0.2s ease-in-out;
  cursor: pointer;

  &:not(:disabled) {
    &:hover,
    &:active,
    &:focus {
      --btn-background-color: var(--btn-background-hover-color);
    }

    &:active {
      transform: scale(0.99);
    }
  }

  &.transparent {
    --btn-background-color: transparent;
    --btn-background-hover-color: transparent;
    --btn-text-color: var(--clr-primary);
    --btn-text-hover-color: var(--clr-primary-hover);
  }

  &.primary {
    --btn-background-color: var(--clr-accent);
    --btn-background-hover-color: var(--clr-accent-hover);
    --btn-text-color: var(--clr-accent-contrast);
    --btn-text-hover-color: var(--clr-accent-contrast);
  }

  &.google {
    --btn-background-color: var(--clr-google);
    --btn-background-hover-color: var(--clr-google-hover);
    --btn-text-color: var(--clr-google-contrast);
    --btn-text-hover-color: var(--clr-google-contrast);
  }

  &.github {
    --btn-background-color: var(--clr-github);
    --btn-background-hover-color: var(--clr-github-hover);
    --btn-text-color: var(--clr-github-contrast);
    --btn-text-hover-color: var(--clr-github-contrast);
  }

  &:disabled {
    cursor: default;
    --btn-background-color: var(--clr-disabled);
    --btn-text-color: var(--clr-text-disabled);
  }

  img {
    width: 2em;
    height: 2em;

    &.leftImg {
      margin: 0 $inline-padding 0 ($block-padding - $inline-padding);
    }

    &.rightImg {
      margin: 0 ($block-padding - $inline-padding) 0 $inline-padding;
    }
  }

  .tooltip {
    $tooltip-background: #000a;
    $tooltip-arrow-size: 5px;
    line-height: 1.1;

    visibility: hidden;
    background-color: $tooltip-background;
    color: #fff;
    text-align: center;
    padding: 0.2em 0.5em;
    border-radius: 0.2em;
    font-size: var(--fnt-sz--2);

    /* Default is bottom */
    inset: 100% auto auto 50%;
    transform: translateX(-50%);

    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      inset: auto auto 100% 50%;
      margin: 0 0 0 (-$tooltip-arrow-size);
      border-width: $tooltip-arrow-size;
      border-style: solid;
      border-color: transparent transparent $tooltip-background transparent;
    }

    &.right {
      inset: auto auto auto 100%;
      transform: translateX(0);

      &::after {
        inset: 50% 100% auto auto;
        margin: (-$tooltip-arrow-size) 0 0 0;
        border-color: transparent $tooltip-background transparent transparent;
      }
    }

    &.left {
      inset: auto 100% auto auto;
      transform: translateX(0);

      &::after {
        inset: 50% auto auto 100%;
        margin: (-$tooltip-arrow-size) 0 0 0;
        border-color: transparent transparent transparent $tooltip-background;
      }
    }

    &.top {
      inset: auto auto 100% 50%;

      &::after {
        inset: 100% auto auto 50%;
        border-color: $tooltip-background transparent transparent transparent;
      }
    }
  }

  &:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
}

.buttonContent {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
