$block-padding: 0.2em;
$inline-padding: 0.6em;
$border-radius: 0.2em;

.button {
  --btn-background-color: var(--clr-secondary);
  --btn-background-hover-color: var(--clr-secondary-hover);
  --btn-text-color: var(--clr-secondary-contrast);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  text-decoration: none;
  font-weight: normal;

  padding: $block-padding $inline-padding;
  border-radius: $border-radius;
  border: none;

  background: var(--btn-background-color);
  color: var(--btn-text-color);

  transition: background 0.2s ease-in-out;
  cursor: pointer;

  &:not(:disabled) {
    &:hover,
    &:active,
    &:focus {
      --btn-background-color: var(--btn-background-hover-color);
    }

    &:active {
      transform: scale(0.99);
    }
  }

  &.primary {
    --btn-background-color: var(--clr-accent);
    --btn-background-hover-color: var(--clr-accent-hover);
    --btn-text-color: var(--clr-accent-contrast);
    --btn-text-hover-color: var(--clr-accent-contrast);
  }

  &.google {
    --btn-background-color: var(--clr-google);
    --btn-background-hover-color: var(--clr-google-hover);
    --btn-text-color: var(--clr-google-contrast);
    --btn-text-hover-color: var(--clr-google-contrast);
  }

  &.github {
    --btn-background-color: var(--clr-github);
    --btn-background-hover-color: var(--clr-github-hover);
    --btn-text-color: var(--clr-github-contrast);
    --btn-text-hover-color: var(--clr-github-contrast);
  }

  &:disabled {
    cursor: default;
    --btn-background-color: hsl(0, 0%, 90%);
  }

  img {
    width: 2em;
    height: 2em;

    &.leftImg {
      margin: 0 $inline-padding 0 ($block-padding - $inline-padding);
    }

    &.rightImg {
      margin: 0 ($block-padding - $inline-padding) 0 $inline-padding;
    }
  }
}

.buttonContent {
  margin: 0 auto;
}
