$indent-width: 2em;

.parsonsBlockContainer {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 0.1em));
  gap: 0.2em;
  font-size: var(--fnt-sz--1);

  &:not(:first-child) {
    margin-top: 1em;
  }

  &:not(:last-child) {
    margin-bottom: 1em;
  }

  &.parsonsBlockContainerSingleColumn {
    grid-template-columns: 1fr;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.linesContainerBlock {
  display: flex;
  flex-direction: column;
}

// The ul is for specificity
ul.linesContainer {
  padding: 0.5em;
  border: 1px solid var(--clr-secondary);
  border-radius: 0.2em;
  margin: 0;
  min-height: var(--min-height, 0);
  flex-grow: 1;

  &.linesContainerWithIndentation {
    padding-inline: 0;
  }

  &.linesContainerActive {
    background-color: var(--clr-secondary);
  }
}

.blockTitle {
  font-weight: bold;
  color: var(--clr-text-light);
}

.parsonsLine {
  display: flex;
  margin-bottom: 0.2em;
  cursor: move;
  isolation: isolate;

  &:last-child {
    margin-bottom: 0;
  }

  &.parsonsLineWithIndentation {
    display: grid;
    grid-template-columns: 1.5em 1fr 1.5em;
  }
}

.parsonsLineIndent {
  display: inline-block;
  width: 4ch;
  min-width: 4ch;
  height: 100%;
  background-color: var(--clr-secondary);
  filter: brightness(90%);
  border-radius: 0.2em;
  margin-right: 0.2em;
}

.parsonsLineContent {
  $inline-content-padding: 0.5em;

  display: flex;
  flex-grow: 1;
  border: 1px solid var(--clr-secondary);
  border-radius: 0.3em;
  padding-inline: $inline-content-padding;
  background-color: var(--clr-background);

  &:not(pre) > code {
    flex-grow: 1;
    padding: 0.2em 0.5em;
    border: none;

    &:first-child {
      margin-left: -$inline-content-padding;
    }

    &:last-child {
      margin-right: -$inline-content-padding;
    }
  }
}

.indentationButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.2em;
  background-color: transparent;
  color: var(--clr-text);
  cursor: pointer;

  &:hover {
    background-color: hsl(10, 10%, 10%, 5%);
  }

  &:disabled {
    color: var(--clr-text-light);
    cursor: default;

    &:hover {
      background-color: transparent;
    }
  }
}

.indentedLineContainer {
  display: flex;
  overflow-x: auto;
}

:global(.draggable-parsons-line.draggable-source--is-dragging) {
  opacity: 0;
}
