---
import { fetchNavTree } from "./utils";
import NavItem from "./NavItem.astro";

const navEntries = fetchNavTree();
---

<nav>
  <ul>
    {navEntries.map((entry) => <NavItem entry={entry} />)}
  </ul>
</nav>

<style>
  nav {
    position: fixed;
    left: 0;
    font-size: var(--fnt-sz--1);
  }

  ul {
    margin: 0;
  }
</style>
