---
import MenuIcon from "../icons/MenuIcon.astro";
import Navigation from "./Navigation/index.astro";

const { projectName } = Astro.props;
---

<header>
  <button class="menu-btn"><MenuIcon /></button>
  <a href={import.meta.env.BASE_URL} class="home-btn">{projectName}</a>
</header>
<Navigation />

<style>
  header {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  .menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 1rem;
    height: 1rem;
  }

  .home-btn {
    font-weight: bold;
    text-decoration: none;
    color: var(--clr-primary);
    margin-inline-start: 0.5em;
  }
</style>
