.navigation {
  position: fixed;
  left: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  font-size: var(--fnt-sz--1);
  background-color: var(--clr-background);
  padding: var(--header-height, 3rem) 1rem 1rem;
  width: min(80vw, 20rem);

  &.noOverlap {
    background-color: transparent;
  }

  ul {
    list-style: none;
    margin: 0;
    height: 100%;
    padding: 0;

    & + ul {
      padding-left: 1rem;
    }
  }

  li {
    display: flex;
    flex-direction: column;
  }

  a {
    position: relative;
    text-decoration: none;
    padding: 0.1em 0.5em;
    border-radius: 0.2em;

    &.current {
      background-color: var(--clr-secondary);

      &::before {
        content: "";
        position: absolute;
        left: -0.5em;
        top: 0;
        bottom: 0;
        width: 0.25em;
        background-color: var(--clr-accent);
        border-radius: 0.5em;
      }
    }

    &:hover {
      background-color: var(--clr-secondary);
    }
  }
}
