.navigation {
  position: fixed;
  left: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  font-size: var(--fnt-sz--1);
  background-color: var(--clr-background);
  padding: var(--header-height, 3rem) 1rem 1rem;
  width: min(80vw, 20rem);

  &.noOverlap {
    background-color: transparent;
  }

  ul {
    list-style: none;
    margin: 0;
    height: 100%;
    padding: 0;

    & + ul {
      padding-left: 1rem;
    }
  }
}
